/*CSS padrão para todas as páginas*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

header, body, footer{
	font-family: "Roboto", sans-serif;
} 

header{
	background-color:rgb(255, 255, 255) ; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegar{
    flex: 1;
    display: flex;
    justify-content: center;
}

.logoheader img{
	height: 50px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color:rgb(33, 33, 160);
    font-weight: bold;
}

/*Rodapé*/

footer{
	background-color:rgb(33, 33, 160) ;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer div{
    display: flex;
    align-items: center;
}

footer img{
    width: 80%;
}